---
import type { GetStaticPaths } from 'astro'
import Layout from '@layouts/Layout.astro'
import { getSortedPosts, dateString } from '@utils'
import { render } from 'astro:content'
export const getStaticPaths = (async () => {
  const posts = await getSortedPosts()
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }))
}) satisfies GetStaticPaths

const { post } = Astro.props
const postData = post.data
const { Content: PostContent } = await render(post)
---

<Layout
  title={postData.title}
  description={postData.description}
  author={postData.author}
  tags={postData.tags}
>
  <article class="py-12" data-pagefind-body>
    <h1 class="text-2xl font-medium mb-2">
      {postData.title}
    </h1>
    <p class="text-foreground-muted text-sm mb-12">
      {dateString(postData.published)}
    </p>
    <div class="prose-custom">
      <PostContent />
    </div>
  </article>
</Layout>
